<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>
<property name="conection.driver_class">org.h2.Driver</property>
<property name="connection.url">jdbc:h2:./data/shoes</property>
<property name="dialect">org.hibernate.dialect.H2Dialect</property>
<property name="hbm2ddl.auto">create</property>
<property name="show_sql">true</property>
 <mapping class="anna.model.Shoe"/> 
</session-factory>
</hibernate-configuration>